{% extends "::layout.html.twig" %}

{% block title %} Changement de Module : Accepter {% endblock %}

{% block content %}


<div class="col-md-12">
          <form id="basicForm" action="http://themepixels.com/demo/webpage/bracket/form-validation.html" class="form-horizontal" novalidate="novalidate">
          <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-btns">
                  <a href="#" class="minimize">−</a>
                </div>
                <h4 class="panel-title">Demande Accepter</h4>
                <p>Votre demande  ({{ demande.typeDemande.libelle }}) est accepteé. </p>
              </div>
              
        </div><!-- panel-body -->
                       </div><!-- panel -->
          </form>     
        </div>
  {% endblock %}