security:
    encoders:
        Symfony\Component\Security\Core\User\User: 
            algorithm:           sha512
            encode_as_base64:    true
            iterations:          10
        App\Bundle\BackOfficeBundle\Entity\Admin: 
            algorithm:           sha512
            encode_as_base64:    true
            iterations:          10

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        spa_provider:
            memory:
                users:
                    sadmin: { password: %admin_pass% , roles: [ 'ROLE_SUPER_ADMIN' ] }
        admin_provider:
            entity: { class: AppBackOfficeBundle:Admin, property: email }
        admin_chain_provider:
            chain:
                providers: [spa_provider, admin_provider]


    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false
        admin_secured:
            pattern:    ^/back-office
            anonymous: ~
            provider: admin_chain_provider
            logout:
                path: /back-office/logout
                target: /back-office/login
            form_login:
                login_path: /back-office/login
                check_path: /back-office/login_check
                default_target_path: /back-office/hello/fay
                target_path_parameter: _target_path
                remember_me: false
                username_parameter: _username
                password_parameter: _password
        login:
            pattern: ^/back-office/login$
            anonymous: ~


    access_control:
        - { path: ^/back-office/login$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/back-office/configuration/*, roles: ROLE_SUPER_ADMIN }
        - { path: ^/back-office/*, roles: ROLE_ADMIN }

