#block-recherche
{
    position: relative;
}


.profile {
    
    
    background: linear-gradient(#23AA41, #32EF50) repeat scroll 0 0 transparent;
    
    border: 2px solid #EEEEEE;
    box-shadow: 3px 3px 4px #DCEBDA;
    color: #DFFADF;
    float: left;
    font-size: 0.85em;
    height: 70px;
    margin: 5px;
    overflow: hidden;
    padding: 3px;
    width: 120px;
    /* Seulement pour 1er effet effet visuel
    display:  none;
    */
}

.profile:hover
{
    color:#FFF;
    text-shadow: 1px 1px 2px #FFF;
}

/* v1
.profile
{
    width: 120px;
    height : 70px;
    float: left;
    margin: 5px 5px;
    border:1px solid #DEDFDB;
    padding: 3px 3px;
    overflow:hidden;
    font-size:0.85em;
    box-shadow: 2px 2px 3px #E1DCF5;
}
*/

#conteneur
{
    position:relative;
}

#maj_aside
{
    display:none;
    position: absolute;
    left:0;
    top: 0;
    width:250px;
    height: 400px;
    background-color: #FFF;
    border: 2px solid #A0E;
    margin:10px 0;
    padding: 10px 8px;
    color: #99A;
    font-size: 0.85em;
    
}

#maj_aside label
{
    display: block;
    margin-left: 3px;
}

#maj_aside input
{
    width: 80%;
    margin-bottom: 8px;
}

#ajax-loader
{
    display: none;
    position: absolute;
    top:0;
    right:0;
    float: right;
}

.bt-fermer
{
    position: absolute;
    top: 8px;
    right: 10px;
}

.valider
{
    cursor:pointer;
    padding:0 5px;
    background-color: #69A74E;
    background: linear-gradient(#69A74E,#9ADF9E);
    border: 2px whitesmoke solid;
    font-weight: bolder;
    box-shadow: 6px 4px 6px #ECECEC,-3px -2px 3px #ECECEC;
    color: whitesmoke;
    font-family: helvetica;
    height: 25px;
}