.pr-conteneur
{
    width:1024px;
    background: #FFF;
    margin: 20px auto;
    padding: 10px 15px;
    box-shadow: 5px 5px 5px #A1A1A1;
    border-radius: 5px;
}

.info-left
{
    width: 250px;
    text-align: center;
    font-size: 0.9em;
}

.info-right
{
    width: 250px;
    text-align: center;
    font-size: 0.9em;
    float: right;
}

h3
{
    text-align: center;
    margin-top: 20px;
    font-size: 1.1em;
}

ul
{
    list-style-type: none;
}

li
{
    margin-top: 10px;
}

fieldset
{
    margin-top:10px;
}

fieldset label
{
    float:left;
    width:260px;
}

.champ-ar
{
    float:right;
    direction: rtl;
}

.champ-ar label
{
    float: right;
}