fieldset
{
    margin-bottom: 10px;
}

fieldset ul
{
    list-style-type: none;
}

fieldset ul  li
{
    margin-bottom: 5px;
}

fieldset ul .reclamation-detail li input[type="text"]
{
    width: 60px;
}

fieldset ul .reclamation-detail
{
    width:45%;
    float:left;
    box-shadow: 2px 1px 5px #EDEDEF;
    border-radius: 0 0 12px 0;
    margin-right: 10px;
    padding-left:5px;
    overflow: hidden;
    margin-bottom: 10px;
    min-height: 60px;
}

fieldset ul .reclamation-detail textarea
{
    width: 90%;
    height: 50px;
}

fieldset ul li textarea
{
    width: 45%;
}

/*
fieldset ul li label
{
    float: left;
    padding-right: 5px;
    text-align: right;
    width:120px;
}
*/

fieldset ul li label
{
    font-weight: bold;
}

.r-rejetee
{
    color:red;
}

.r-acceptee
{
    color:green;
}

#valider
{
    cursor:pointer;
    padding:0 5px;
    background-color: #69A74E;
    background: linear-gradient(#69A74E,#9ADF9E);
    border: 2px whitesmoke solid;
    font-weight: bolder;
    box-shadow: 6px 4px 6px #ECECEC,-3px -2px 3px #ECECEC;
    color: whitesmoke;
    font-family: helvetica;
    height: 25px;
}

.negatif , .positif
{
    padding: 3px 8px;
    font-weight: bolder;
    float:right;
    color: white;
    margin-right: 15px;
    font-size: 1.5em;
}

.positif
{
    box-shadow: 3px 2px 2px #44EF54;
    background-color:  green;
    background: linear-gradient(#11F111,#A2FEA2);
}

.negatif
{
    box-shadow: 3px 2px 2px #EF4422;
    background-color:  red;
    background: linear-gradient(#EC5555,#EFEFEF);
}
.remarque
{
    width:75%;
    box-shadow: 4px 2px 5px #EDEDEF;
    border: 1px solid #ECECEC;
    border-radius: 0 0 12px 0;
    padding-left:5px;
    margin-left:20px;
    margin-bottom:10px;
}

.rdv
{
    margin: 10px 0;
    padding: 10px;
    background: #7FFF00;
    background: linear-gradient(#AB99DE,#AF55FF);
    box-shadow: 4px 4px 4px #EFABFF;
    border-radius: 6px;
}

.mods
{
    margin: 5px 3px 10px 20px;
}

.gestionrdv li label
{
    float: left;
    width: 155px;
    text-align: right;
    padding-right: 3px;
}
